body {
    font-family:"Calibri";
    font-size:16pt;
    margin:0;
}

.content {
	padding-top:40px;
}
	
.contentspacer {
	float:left;
    background-color:rgb(0,68,107);
    color:rgb(0,68,107);
    width:15px;
    height:100%;
    padding:0;
    margin:0;
}

.contentelement {
	width:1200px;
	padding-top:30px;
	margin-left:20px;
}

.detailframe {
	float:left;
	clear:right; 
	max-width:100%; 
	max-height:100%;
}

.detailcontainer {
	float:left;
	clear:right;
}

.pageheader {
	font-family:"Calibri";
    font-size:20pt;
    font-weight:bold;
    margin-left:15px;
    margin-top:10px;
}

.detailheader {
    font-family:"Calibri";
    font-size:20pt;
    font-weight:bold;
    margin-top:10px;
}

.measurecontainer {
	float:left;
	clear:right;
	margin:5px 15px;
}

.ticketlistcontainer {
	float:left;
	margin:15px;
}

.formlist {
    list-style-type:none;
    margin-left:15px;
    padding:0;
}

.overviewlist {
    vertical-align:top;
}

.nvgtbar {
    position:fixed;
    top:0;
    width:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    height:40px;
    font-family:"Calibri";
    background-color:rgb(0,68,107);
    font-size:20px;
    font-weight:bold;
}

.nvgtbtn {
    float:left;
    background-color:rgb(0,68,107);
    border-right:1px solid #ffffff;
    border-left:0;
    height:50px;
}

.infomsg {
    float:left;
    margin-left:10px;
    color:rgb(255,153,51);
    color:hsl(45, 80%, 60%);
    padding:8px;
    background-color:rgb(0,68,107);
    border-right:0;
    border-left:0;
    font-weight:800;
    height:50px;
}

.buttoncell {
	float:left;
    text-align:center;
    padding-top:15px;
    width:175px;
    height:20px;
}

.btn {
    color:white;
    font-family:"Calibri";
    font-size:12pt;
    font-weight:bold;
    background-color:rgb(0,68,107);
}

.btn:hover {
    background-color:rgb(70,140,180);
}

.fielditem {
	height:auto;
	margin:5px 0 5px 0;
}

.inputfield {
	font-family:"Calibri";
    font-size:11pt;
}

.heading {
	float:left;
	width:200px;
    font-weight:bold;
    margin-right:5px;
    text-align:center;
    background-color:rgb(70,140,180);
    background-color:rgba(70,140,180,0.7);
}

.tablecont {
	margin:15px 0;
}

.tableheading {
    font-size:16pt;
    font-weight:bold;
    text-align:center;
    background-color:rgb(70,140,180);
    background-color:rgba(70,140,180,0.5);
}

.errormsg {
    color:red;
    font-family:"Calibri";
    font-size:18pt;
    font-weight:bold;
}

.nvgtlink {
    margin:0;
    padding:8px;
    text-align:center;
    display:block;
    color:white;
    text-decoration:none;
}

.idlink {
    padding:0 20px;
    font-size:16pt;
    color:blue;
    text-decoration:none;
    font-weight:bold;
}

.rglogo {
    position:fixed;
    top:0;
    right:0;
    margin:0;
    padding:0;
    height:120px;
    background-color:rgb(0,68,107);
    display:block;
    float:right;
}

li a:hover {
    background-color:rgb(0,90,130);
}

#low{
	background-color:rgb(200,255,26);
	background-color:rgba(200,255,26,0.5);
}

#moderate{
	background-color:rgb(255,160,26);
	background-color:rgba(255,160,26,0.5);
}

#high{
	background-color:rgb(255,80,26);
	background-color:rgba(255,80,26,0.5);
}